<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/confirm_repair.css' />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แจ้งชำระเงิน</title>
</head>

<body class="body">
    <%- include("../navbar") %>
        <br><br>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body p-0">

                            <br>
                            <div class="col-md-6">
                                <img src="/images/1022.png  ">

                            </div>


                            <div class="row pb-5 p-5">
                                <div class="col-md-6">
                                    <h1 class="page-title text-secondary-d1">ใบเสร็จ<small class="page-info">
                                        <i class="fa fa-angle-double-right text-80"></i>
                                        รหัสการนัดหมาย: <%=result_HR[0].Appointment_date_id%>
                                    </small></h1>
                                </div>
                                <div class="page-content container">
                                    <div class="container px-0">
                                        <div class="row mt-4">
                                            <div class="col-12 col-lg-12">

                                                <!-- .row -->
                                                <h4>ใบเสร็จรับเงิน/ใบกำกับรายการอุปกรณ์</h4>
                                                <hr class="row brc-default-l1 mx-n1 mb-4" />

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div>
                                                            <span class="text-sm text-grey-m2 align-middle">จาก :</span>
                                                            <span class="text-600 text-110 text-blue align-middle">เอ.ที.แอร์มหาสารคาม</span>
                                                        </div>
                                                        <div class="text-grey-m2">
                                                            <div class="my-1">
                                                                จังหวัด : มหาสารคาม
                                                            </div>
                                                            <div class="my-1">
                                                                Line : 094-1764047
                                                            </div>
                                                            <div class="my-1"><i class="fa fa-phone fa-flip-horizontal text-secondary"></i> <b class="text-400">094-1764047 ,
                                                                083-2796566</b></div>
                                                        </div>
                                                    </div>
                                                    <!-- /.col -->

                                                    <div class="text-95 col-sm-5 align-self-start d-sm-flex justify-content-end">
                                                        <hr class="d-sm-none" />
                                                        <div class="text-grey-m2">
                                                            <div class="mt-1 mb-2 text-secondary-m1 text-600 text-125">
                                                                ใบแจ้งหนี้
                                                            </div>

                                                            <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">รหัสแจ้งซ่อม:</span> #
                                                                <%=result_HR[0].Hotify_repaiv_id%>
                                                            </div>
                                                            <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">สถานะ:</span> <span class="badge badge-warning badge-pill px-25">ค้างชำระ</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.col -->
                                                </div>

                                                <div class="mt-4">
                                                    <div class="card">
                                                        <div class="card-body ">
                                                            <div class="row text-600 text-blue bgc-default-tp1 py-25">
                                                                <div class="d-none d-sm-block col-1">#</div>
                                                                <div class="col-9 col-sm-4"> รหัสอุปกรณ์
                                                                </div>
                                                                <div class="d-none d-sm-block col-3 col-sm-1">

                                                                </div>
                                                                <div class="d-none d-sm-block col-3 col-sm-1">จำนวน

                                                                </div>
                                                                <div class="d-none d-sm-block col-sm-1">ราคา</div>

                                                                <div class="d-none d-sm-block col-sm-1">รวม</div>
                                                                <div class="d-none d-sm-block col-sm-2"></div>
                                                            </div>
                                                            <hr />
                                                            <div class="text-95 text-secondary-d3">
                                                                <div class="row mb-2 mb-sm-0 py-25">
                                                                    <div class="d-none d-sm-block col-1">1

                                                                    </div>
                                                                    <div class="col-9 col-sm-5">
                                                                        <%=result_HR[0].Equipment_name%>

                                                                    </div>
                                                                    <div class="d-none d-sm-block col-3 col-sm-1">
                                                                        <!-- จำนวน -->
                                                                    </div>
                                                                    <div class="d-none d-sm-block col-1 text-95">
                                                                        <%=result_HR[0].Price%>
                                                                    </div>
                                                                    <div class="col-1 text-secondary-d2">
                                                                        <%=result_HR[0].Price%>
                                                                    </div>
                                                                    <div class="col-1 text-secondary-d2">
                                                                        บาท
                                                                    </div>
                                                                </div>

                                                                <% Object.values(result_AP).forEach(function(result_APs, index){ %>
                                                                    <div class="text-95 text-secondary-d3">
                                                                        <div class="row mb-2 mb-sm-0 py-25">

                                                                            <div class="d-none d-sm-block col-1">
                                                                                <%= index+2%>

                                                                            </div>
                                                                            <div class="col-9 col-sm-5">
                                                                                <%=result_APs.ap_air_parts%>
                                                                                    <!-- อะไหล่อุปกรณ์ -->
                                                                            </div>
                                                                            <div class="d-none d-sm-block col-3 col-sm-1">
                                                                                <%=result_APs.ap_quantity%>
                                                                                    <!-- จำนวน -->
                                                                            </div>
                                                                            <div class="d-none d-sm-block col-1 text-95">
                                                                                <%=result_APs.ap_price%>
                                                                                    <!-- ราคา -->
                                                                            </div>

                                                                            <div class="col-1 text-secondary-d2">
                                                                                <%const ap_price = result_APs.ap_price * result_APs.ap_quantity%>
                                                                                    <%=ap_price%>

                                                                            </div>
                                                                            <div class="col-1 text-secondary-d2">
                                                                                บาท

                                                                            </div>
                                                                            <div class="col-1 text-secondary-d2">

                                                                                <a type="button" style="color: red;" href="/employees/air_parts/del/<%=result_APs.ap_id%>/<%=result_HR[0].Hotify_repaiv_id%>">x  </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <% })%>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" row border-b-2 brc-default-l2 "></div>
                                                    <hr />
                                                    <div class="row mt-3 ">
                                                        <div class="col-12 col-sm-7 text-grey-d2 text-95 mt-2 mt-lg-0 ">
                                                        </div>
                                                        <div class="col-12 col-sm-5 text-grey text-90 order-first order-sm-last ">
                                                            <div class="row my-2 ">
                                                                <div class="col-5 text-right ">
                                                                    ยอดรวม
                                                                </div>
                                                                <div class="col-5 ">
                                                                    <span class="text-120 text-secondary-d1 ">
                                                                     <%=sum +result_HR[0].Price%> บาท </span>

                                                                    <input type="hidden" name="Price " id="Price " value="<%=result_HR[0].Price%>">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr />
                                                    <div>
                                                        <span class="text-secondary-d1 text-105">
                                                    Thank you for using the service /
                                                    ขอบคุณที่ใช้บริการ</span>
                                                        <br><br>
                                                        <form action="/employees/confirm_repair" method="post">
                                                            <input type="hidden" class="form-control" name="Hotify_repaiv_id" id="Hotify_repaiv_id" value=" <%=result_HR[0].Hotify_repaiv_id%>">
                                                            <input type="hidden" class="form-control" name="date" id="date" value="<%=date%>">
                                                            <input type="hidden" class="form-control" name="status" id="status" value="ค้างชำระ">
                                                            <input type="hidden" class="form-control" name="Price" id="Price" value=" <%=result_HR[0].Price%>">
                                                            <button type="submit" class="btn btn-info btn-bold px-4 float-right mt-3 mt-lg-0 " id="payment">แจ้งชำระ</button>
                                                        </form>
                                                        <form action="/employees/air_part/s" method="post">
                                                            <div class="form-group input-group mb-3 ">
                                                                <h5>อุปกรณ์</h5>
                                                                <div>
                                                                    <input type="text" placeholder="อุปกรณ์ *" class="form-control" style="width:250px;" name="ap_air_parts" id="ap_air_parts">
                                                                </div>
                                                                <h5>จำนวน</h5>
                                                                <div class="input-box ">
                                                                    <input type="text" placeholder="จำนวน *" class="form-control" style="width:100px;" name="ap_quantity" id="ap_quantity">
                                                                </div>
                                                                <h5>ราคา</h5>
                                                                <div class="input-box ">
                                                                    <input type="text" placeholder="ราคา *" class="form-control" style="width:100px;" name="ap_price" id="ap_price">
                                                                </div>
                                                                <input type="hidden" name="Hotify_repaiv_id" value="<%=result_HR[0].Hotify_repaiv_id%>">
                                                            </div>
                                                            <button type="submit" class="btn btn-info">อุปกรณ์</button>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</body>


</html>

<style>
    @media print {
        @page {
            size: A4;
            margin: 0;
        }
        #print {
            display: none;
        }
        #payment {
            display: none;
        }
    }
</style>