<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap" rel="stylesheet">

<!DOCTYPE html>
<html>
  <head>
    <title>ข้อมูลพนักงาน</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("../navbar") %>
    <h1><%= result[0].Employee_id %></h1>
    <p>Welcome to <%= result[0].Employee_name %></p>
    <p>Welcome to <%= result[0].Employee_email %></p>
    <p>Welcome to <%= result[0].Employee_name %></p>

  </body>
</html>
