<!DOCTYPE html>
<html>
  <head>
    <title><%= result[0].Employee_name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("../navbar") %>
    <h1><%= result[0].Employee_id %></h1>
    <p>Welcome to <%= result[0].Employee_name %></p>
    <p>Welcome to <%= result[0].Employee_email %></p>
    <p>Welcome to <%= result[0].Employee_name %></p>
    <a  type="button" class="btn btn-danger" href="/logout">Logout</a>
  </body>
</html>
