<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap" rel="stylesheet">


<!DOCTYPE html>
<html>

<head>
  <title>อุปกรณ์</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include("../navbar") %>
    <div class="container mt-3">
      <h2>อุปกรณ์</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>รหัสแจ้งซ่อม</th>
            <th>รหัสอุปกรณ์</th>
            <th>อุปกรณ์</th>
            <th>ยี่ห้อ</th>
            <th>รายละเอียดแจ้งซ่อม</th>
            <th>วันที่แจ้งซ่อม</th>
            <th>วันนัดหมาย</th>
            <th>รหัสพนักงาน(ช่างซ้อม)</th>


          </tr>
        </thead>
        <% Object.values(result_hv).forEach(function(result_hvs){%>
          <tbody>
            <tr>
              <td>
                <%= result_hvs.Hotify_repaiv_id %>
              </td>
              <td>
                <%= result_hvs.Equipment_id %>
              </td>
              <td>
                <img src="/Eqimage/<%= result_hvs.Eq_image %>" width="100" height="auto" class="img-fluid" />
              </td>
              <td>
                <%= result_hvs.Equipment_name %>
              </td>

              <td>
                <%= result_hvs.Repair_details_num %>
              </td>
              <td>
                <%= result_hvs.Repair_noticedate %>
              </td>
              <td>
                <%if(!result_hvs.Appointmentdate){%>
                  วันที่นัดหมาย
                  <%} %>
                    <%if(result_hvs.Appointmentdate){%>
                      <%= result_hvs.Appointmentdate %>
                        <%} %>
              </td>
              <td>

                <%if(!result_hvs.Employee_id){%>
                  ว่าง
                  <%} %>
                    <%if(result_hvs.Employee_id ){%>
  <%= result_hvs.Employee_id %>
                       
  <%} %>

                                   


              </td>

            </tr>


          </tbody>
          <%})%>
      </table>
    </div>
</body>

</html>