<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap" rel="stylesheet">


<!DOCTYPE html>
<html>

<head>
  <title>
    แจ้งซ่อม
  </title>
</head>

<body>

  <%- include("../navbar") %>
    <% if(locals.errors){ %>
      <ul class="alert alert-danger">
        <% Object.values(errors).forEach(function(error){%>
          <li>
            <%= error.msg %>
          </li>
          <%})%>
      </ul>
      <%}%>
      <br><br>
        <form class="row g-3" action="/users/notify_repairs" method="post">
          <div class="container contact">
            <h1>แจ้งรายละเอียดอุปกรณ์</h1>
            <br>
            <div class="row">
              <div class="col-md-3">
                <div class="contact-info">
                  <h4>กรุณาตรวจสอบข้อมูลรายละเอียดให้ถูกต้องก่อนกดยืนยัน</h4>
                </div>
              </div>
              <div class="col-md-9">
                <div class="contact-form">
                  

                  
                  <div class="form-group">
                    <label class="control-label col-sm-7" for="Device_details">แจ้งรายละเอียดอุปกรณ์  :</label>
                    <div class="form-group col-md-12">
                      <textarea cols="40" rows="5" type="text" class="form-control" name="Repair_details_num" id="Repair_details_num" ></textarea>
                    </div>
                    <input type="hidden" class="form-control" name="Equipment_id" id="Equipment_id" value="<%= result_eq[0].Equipment_id %>">
            <input type="hidden" class="form-control" name="inputUseid" id="inputUseid" value="<%= result%>">
                  </div>
                  <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" onclick="AlertSuccess()" class="btn btn-primary" alerd>Sign in</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <br><br>


        <%- include("../footer") %>
</body>

</html>
<script>
  function AlertSuccess() {
    alert("แจ้งรายละเอียด สำเร็จ / Edit Success")
  }
</script>