<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/slip_record.css' />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ส่งใบเสร็จ</title>
</head>

<body class="body">
    <%- include("../navbar") %>

        <form action="/users/slip_record/s" method="post" enctype="multipart/form-data">
            <main class="main_full">
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <div class="panel">
                                <div class="button_outer">
                                    <div class="btn_upload">
                                        <input type="file" id="upload_file" name="slip_Photo"> Upload Image
                                    </div>
                                    <div class="processing_bar"></div>
                                    <div class="success_box"></div>
                                </div>
                            </div>
                            <div class="error_msg"></div>
                            <div class="uploaded_file_view" id="uploaded_view">
                                <span class="file_remove">X</span>
                                <button type="submit" class="btn btn-success btn-sm">ยืนยัน</button>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-12 text-center">

                </div>
                <div class="col">
                    <div class="form-group">
                        <div class="input-box ">
                            <input type="hidden" Name='slip_Payment_code_id' id="slip_Payment_code_id" value=" <%=result_all[0].Payment_code_id%>">
                            <input type="hidden" Name='slip_User_id' id="slip_User_id" value=" <%=result_all[0].User_id%>">
                            <input type="hidden" Name='slip_Equipment_id' id="slip_Equipment_id" value=" <%=result_all[0].Equipment_id%>">
                            <input type="hidden" Name='slip_Hotify_repaiv_id' id="slip_Hotify_repaiv_id" value=" <%=result_all[0].Hotify_repaiv_id%>">
                            <input type="hidden" Name='slip_Appointment_date_id' id="slip_Appointment_date_id" value=" <%=result_all[0].Appointment_date_id%>">
                            <input type="hidden" Name='slip_Employee_id' id="slip_Employee_id" value=" <%=result_all[0].Employee_id%>">

                        </div>
                    </div>
                </div>
            </main>

        </form>
</body>

</html>
<script>
    var btnUpload = $("#upload_file"),
        btnOuter = $(".button_outer");
    btnUpload.on("change", function(e) {
        var ext = btnUpload.val().split('.').pop().toLowerCase();
        if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
            $(".error_msg").text("Not an Image...");
        } else {
            $(".error_msg").text("");
            btnOuter.addClass("file_uploading");
            setTimeout(function() {
                btnOuter.addClass("file_uploaded");
            }, 3000);
            var uploadedFile = URL.createObjectURL(e.target.files[0]);
            setTimeout(function() {
                $("#uploaded_view").append('<img src="' + uploadedFile + '" />').addClass("show");
            }, 3500);
        }
    });
    $(".file_remove").on("click", function(e) {
        $("#uploaded_view").removeClass("show");
        $("#uploaded_view").find("img").remove();
        btnOuter.removeClass("file_uploading");
        btnOuter.removeClass("file_uploaded");
    });
</script>