<!DOCTYPE html>
<html>
  <head>
    <title><%= resultd[0].User_name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("./usenavbar") %>
    <h1><%= resultd[0].User_email %></h1>
    <p>Welcome to <%= resultd[0].User_id %></p>
    <p>Welcome to <%= resultd[0].User_password %></p>
    <a href="/">link</a>
  </body>
</html>
