<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap" rel="stylesheet">


<!DOCTYPE html>
<html>

<head>
    <title>อุปกรณ์</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include("../navbar") %>
        <div class="container mt-3">
            <h2>อุปกรณ์</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>รหัสแจ้งซ่อม</th>
                        <th>รหัสอุปกรณ์</th>
                        <th>อุปกรณ์</th>
                        <th>ยี่ห้อ</th>
                        <th>รายละเอียดแจ้งซ่อม</th>
                        <th>วันที่แจ้งซ่อม</th>
                        <th>วันที่นัดซ่อม</th>
                        <th>รหัสพนักงาน(ช่างซ้อม)</th>
                        <th>วันที่ออกใบเสร็จ</th>
                        <th>สถานะ</th>
                        <th>ชำระเงิน</th>



                    </tr>
                </thead>
                <% Object.values(result_HR).forEach(function(result_HRs){%>
                    <tbody>
                        <tr>
                            <td>
                                <%= result_HRs.Hotify_repaiv_id %>
                            </td>
                            <td>
                                <%= result_HRs.Equipment_id %>
                            </td>
                            <td>
                                <img src="/Eqimage/<%= result_HRs.Eq_image %>" width="100" height="auto" class="img-fluid" />
                            </td>
                            <td>
                                <%= result_HRs.Equipment_name %>
                            </td>

                            <td>
                                <%= result_HRs.Repair_details_num %>
                            </td>
                            <td>
                                <%= result_HRs.Repair_noticedate %>
                            </td>
                            <td>
                                <%if(!result_HRs.Appointmentdate){%>
                                    วันที่นัดหมาย
                                    <%} %>
                                        <%if(result_HRs.Appointmentdate){%>
                                            <%= result_HRs.Appointmentdate %>
                                                <%} %>
                            </td>
                            <td>
                                <%if(!result_HRs.Employee_id){%>
                                    ว่าง
                                    <%} %>
                                        <%if(result_HRs.Employee_id ){%>
                                            <%= result_HRs.Employee_id %>
                                                <%} %>
                            </td>
                            <td>
                                <%= result_HRs.Repair_date %>
                            </td>
                            <td>
                                <span class="badge badge-warning badge-pill px-100  my-3"><%= result_HRs.statuse %></span>
                            </td>
                            <td>
                                <a type="submit" class="btn btn-info btn-bold px-4 float-right mt-3 mt-lg-0" aria-current="page" href="/users/confirm_repair/s/<%= result_HRs.Hotify_repaiv_id %>/<%= result[0].User_id %>">ชำระเงิน</a>
                            </td>
                        </tr>
                    </tbody>
                    <%})%>
            </table>
        </div>
</body>
<br><br>
<%- include("../footer") %>

</html>